<!DOCTYPE html>

<head>
    <title>Doraemon Blog</title>
    <link  href = "{{url_for('static', filename = 'style.css')}}" rel = "stylesheet"/>
</head>
<body>
    <h1>DORAEMON</h1>
    <p id = "para">Doraemon's History and details about it....
        Doraemon is a Japanese manga series created by Fujiko F. Fujio (the pen name of Hiroshi Fujimoto) and Fujiko A. Fujio (the pen name of Motō Abiko) which later became an animeseries and Asian franchise. The series is about a robotic cat named Doraemon, who travels back in time from the 22nd century to aid a schoolboy, Nobita Nobi.
        The series first appeared in December 1969, when it was published simultaneously in six different magazines. In total, 1,344 stories were created in the original series, which are published byShogakukan under the Tentōmushi manga brand, extending to forty-five volumes. The volumes are collected in the Takaoka Central Library in Toyama, Japan. Fujio was born in Toyama.
        A majority of Doraemon episodes are comedies with moral lessons regarding values such as integrity, perseverance, courage, family and respect for elders. Several noteworthy environmental issues are often visited, including homeless animals, endangered species, deforestation, andpollution. Topics such as dinosaurs, the flat Earth theory, wormhole traveling, Gulliver's Travels, and the history of Japan are often covered.
        Doraemon was awarded the first Shogakukan Manga Award for children's manga in 1982, and the first Osamu Tezuka Culture Award in 1997. In March 2008, Japan's Foreign Ministry appointed Doraemon as the nation's first "anime ambassador." Ministry spokesman explained the novel decision as an attempt to help people in other countries to understand Japanese anime better and to deepen their interest in Japanese culture." The Foreign Ministry action confirms that Doraemon has come to be considered a Japanese cultural icon. In 2002, the anime character was acclaimed as an Asian Hero in a special feature survey conducted by Time Asia magazine</p>

    <h2><a href="https://doraemon-2016.blogspot.com/"> Reference Link</a></h2>
</body>

</html>