<!DOCTYPE html>
<head>
    <title>
        Register
    </title>
</head>
<body>
    <h1>register</h1>
    <form action = "" method = 'POST' enctype = multipart/form-data>
            <p>
                <label>Username: </label>
                <input name = Username type = text required/>
            </p>
            <p>
                <label>Password: </label>
                <input name = Upassword type = Password required/>
            </p>

            <p>
                <button type = submit>register</button>
            </p>
    </form>
</body>
</html>